.heroDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}
.heroHeading {
  color: #ffe4c4;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
}
.heroParagraph {
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 20px;
}
.resumeButton {
  background-image: url("/Resume.png");
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  animation: tilt-shaking 0.25s infinite;
}
.popupResume {
  display: none;
  background-image: url("/resumePopUp.png");
  background-size: 100% 100%;
  width: 200px;
  height: 40px;
}

.resumeButton:hover + .popupResume {
  display: block;
  color: red;
}
.resume {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
